name: Node.js Push Check CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: npm ci
      env:
        NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: npm test
      env:
        CI: true
